/node_modules
/public/hot
/public/storage
/public/static-2012
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/electron/node_modules
/electron/out
netFramework/obj/Debug/BoomBang.csprojAssemblyReference.cache
netFramework/.vs/BoomBang/v16/Server/sqlite3/storage.ide-shm
netFramework/.vs/BoomBang/v16/Server/sqlite3/storage.ide-wal
netFramework/.vs/BoomBang/v16/.suo
netFramework/bin/Debug/BoomBang.exe
netFramework/bin/Debug/BoomBang.pdb
netFramework/obj/Debug/BoomBang.exe
netFramework/obj/Debug/BoomBang.pdb
